Source: paper-icon-theme
Section: x11
Priority: optional
Maintainer: James Lu <james@overdrivenetworks.com>
Build-Depends: debhelper (>= 11~)
Standards-Version: 4.1.5
Homepage: https://snwh.org/paper
Vcs-Git: https://github.com/utopia-repository/paper-icon-theme
Vcs-Browser: https://github.com/utopia-repository/paper-icon-theme

Package: paper-icon-theme
Architecture: all
Depends: ${misc:Depends}
Description: modern icon theme based on bold colours and simple shapes
 Paper is a modern freedesktop icon theme whose design is based around the use
 of bold colours and simple geometric shapes to compose icons.
 .
 While it does take some inspiration from the icons in Google's Material Design,
 some aspects have been adjusted to better suit a desktop environment.
